<%= simple_form_for @job, html: { class: 'form-horizontal' } do |f| %> 

  <%= f.input :title, :class => "col-form-label", label: "Job title", error: 'Role is mandatory, please specify one'  %>
  <%= f.input :description, label: "Job description", :class => "form-control" %>
  
  <div class="row">
    <div class="col col-sm-6">
      <%= f.input :company, label: "Your company" %>
    </div>

    <div class="col col-sm-6">
      <%= f.input :companyurl, label: "Company URL", placeholder: 'http://example.com', error: 'Please add a valid url. Ex: http://www.example.com'  %>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-6">
      <%= f.input :level, label: 'Level', :as => :select, :collection => Job.levels.keys.to_a, include_blank: false %> 
    </div>

    <div class="col col-sm-6">
      <%= f.input :location, label: "Location" %>
    </div>
  </div>

  <div class="row">

    <div class="col col-sm-6">
      <%= f.input :startdate, :as => :date_picker, class: 'custom_input' %>
    </div>

    <div class="col col-sm-6">
      <%= f.input :jobtype, label: 'Job Type', :as => :select, :collection => Job.jobtypes.keys.to_a, include_blank: false %> 
    </div>
  </div>
  
  <%= f.input :salaryrate, label: "Salary / Rate" %>
  <%= f.input :applyurl, label: "Link to apply for job", placeholder: 'http://example.com', error: 'Please add a valid url. Ex: http://www.example.com'  %>
  <%= f.input :applyemail, label: "Email address for enquiries", placeholder: 'user@domain.com' %>
  <%= f.button :submit, :class => 'btn btn-primary' %>



<% end %>

<script type="text/javascript">
 $("input.date_picker").datepicker({dateFormat: 'dd-mm-yy'});
</script>

<!-- Stripe checkout code -->
<%= form_tag charges_path do %>
<article>
  <% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
  <% end %>
  <label class="amount">
  <span>Amount: $<%= @order.price %></span>
  </label>
</article>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= pk_live_DxXAWKoEgB0vf4TdQtXjcijz %>"
  data-description="A month's subscription"
  data-amount="<%= @order.price %>"
  data-locale="auto"></script>
<% end %>
