<div class="container-fluid">
	
</div>



<div class="container">

  <div class="bg-color-white pa-30 co-dark-grey">
    <h4>Zorro is a job board for multi-skilled talent.</h4><br>
We connect companies with skilled generalists and hybrids who possess diverse experience and expertise.<br>
</p>

Hiring? Post a job today<br><br>
<%= link_to "Post a job", pages_postajob_path, class: 'nav-link bg-orange co-white ma-ver-15 bo-radious-5 width-100 t-center bold' %>
</div>
  <hr>
</div>




<div class="container">

  <h1 class="co-white">Current jobs</h1>

  <% @jobs.each do |job| %>

    <div class="jobsummary">
      <div class="row">
        <div class="col-xl-12">
          <h2 class="co-dark-grey"><%= job.title %> at <%= job.company %></h2>
          <p class="co-dark-grey"><span class="bold">Description:</span> <%= job.description %> </p>
          <div class="row">
            <div class="col col-sm-8">
              <p class="in-line"><button type="button" class="btn btn-info bg-orange border-orange width-125 t-center"><%= link_to "More info", job, class: 'co-white bold' %></button></p>
              <p class="in-line"><button type="button" class="btn btn-info bg-red border-red width-125 t-center"><a class='co-white bold' href="<%= job.applyurl %>" target='blank'>Apply Now</a></button></p>
            </div>
            <div class="col col-sm-4 t-right co-dark-grey">
              <p class="ma-0"><span class="bold">Location:</span> <%= job.location %></p>
              <p class="ma-0"><span class="bold">Posted:</span> <%= time_ago_in_words(job.created_at) %> ago</p>
            </div>

<% if @jobs.blank? %>
  <h4>There are no jobs containing the term <%= params[:search] %>.</h4>
<% end %>
            
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>



