<div class="container-fluid">
	<h1>Current jobs</h1>


<hr>


</div>



<div class="container-fluid">
<% @jobs.each do |job| %>

<div class="jobsummary">
<div class="row">
<div class="col-xl-12">

    <h2><%= link_to job.title, job.applyurl, target: :_blank %> at <%= link_to job.companyurl, job.company %></h2>
    <p>Location: <%= job.location %></br></p>
    Description: <%= job.description %></br>
    Salary: <%= job.salaryrate %></p>

	<p><button type="button" class="btn btn-info"><%= link_to "More info", job %></button></p>
 	<p><button type="button" class="btn btn-info"><%= link_to "Apply", job.applyurl, target: :_blank %></button></p>
 	<hr>

</div>
</div>
</div>
<% end %>

<p><%= paginate @jobs %></p>

</div>


