<div class="container">

  <div class="job-apply-wrapper">
    <h2 class="co-white"><%= @job.title %> at <%= @job.company %></h2>
    <p class="pull-right">
      <button type="button" class="btn btn-info border-red bg-red co-white">
        <%= link_to "Apply Now", '#',class: 'co-white'%>
      </button>
    </p>
  </div>
  
  <div class="jobsummary">
    <div class="row">
      <div class="col-md-12 co-dark-grey">
        <p><span class="bold">Description:</span> <%= @job.description %></p>
        <p><span class="bold">Location:</span> <%= @job.location %></p>
        <p><span class="bold">Posted:</span> <%= time_ago_in_words(@job.created_at) %> ago</p>
      </div>
    </div>
  </div>
</div>
