

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
    <h2><%= @job.title %> at <%= @job.company %></h2>
    <p>Location: <%= @job.location %></p>
    <p>Description: <%= @job.description %></p>
    <p>Salary: <%= @job.salaryrate %></p>

	<p><button type="button" class="btn btn-info"><%= link_to "Apply", target: :_blank %></button></p>


</div>

</div>

</div>


